<% if @user.errors.any? %>
    <h2>The following errors prevented the article from being saved.</h2>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li> 
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @user, local: true)  do |f|%>
<p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
    
</p>
<p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
</p>

<p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
</p>

<p>
    <%= f.submit(@user.new_record? ?  "Sign up" : "Update Account",) %>
</p>
<% end %>
<%# the @user.new_record is testing for if this is a new user, the button will say signup, for the new users sign up page- otherwise, it will say Update Account%>


<%= link_to 'return to articles listing', articles_path %>
